{% extends "base.html" %}

{% block content %}
<div class="h1">Welcome back, {{profile.user}}</div>


<div class="container profile-container">
    <section class="row mb-5">
        <!--Nav for profile-->
        <div class="col-md-4 col-12">
            <div class="profile-nav">
                <ul class="list-group">
                    <a class="m-1" href='#' aria-label="profile nav my posts button">
                        <li class="list-group-item active" id="post-nav-button"><i class="fas fa-fw fa-user pr-1"></i>My Posts</li>
                    </a>
                    <a class="m-1" href='#' aria-label="profile nav my liked posts button">
                        <li class="list-group-item" id="likes-nav-button"><i class="fas fa-fw fa-heart pr-1"></i>My Likes</li>
                    </a>  
                    <a class="m-1" href='#' aria-label="profile nav logout button">
                        <li class="list-group-item" id="logout-nav-button"><i class="fas fa-fw fa-sign-out-alt pr-1"></i>Log Out</li>
                    </a>      
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-12" id="post-panel">
            {% if posts %}
        {% for post in posts %}
        <a href="{% url 'post_detail' post.id %}">
            <div class="col-12">
                <h2>Title: {{ post.title }}</h2>
            </div>
            <div class="col-12">
                <h2 class="post-description">Description: {{ post.description | safe }}</h2>
            </div>
            <div class="col-12">
                <h2>Location: {{ post.location }}</h2>
            </div>
            <div class="col-6">
                <h2 class="">{{ post.rating }}</h2>
            </div>
            <div class="col-12 image-container">
                <img src="{{ post.featured_image.url}}">
            </div>
            <span id="{{post.id}}_like_count">Number of likes:{{ post.like_count }}</span>
        </a>
        <a href="{% url 'edit_post' post.id %}">
            <i class="fas fa-box">Edit</i>
        </a>
        {% endfor %}
        {% endif%}

        {%if comments %}
        {% for comment in comments %}
        {% if comment.user == request.user %}
        {{comment.body}} :comment
        {{comment.id}} id
        <a class="btn tbn-success" href="{% url 'edit_comment' comment.id %}" aria-label="edit button">Edit</a>
        <button class="btn btn-warning"><a href="{% url 'delete_comment' comment.id %}">Delete</a></button>
        {% endif %}
        
        {% endfor%}
        {% endif%}
        </div>

        <div class="col-md-8 col-12" id="likes-panel">LIKES
            {% if likes %}
            {% for like in likes %}
            <div class="col-12">
                <h2>Title: {{ like.title }}</h2>
            </div>
            <div class="col-12">
                <h2 class="post-description">Description: {{ like.description | safe }}</h2>
            </div>
            <div class="col-12">
                <h2>Location: {{ like.location }}</h2>
            </div>
            <div class="col-6">
                <h2 class="">{{ like.rating }}</h2>
            </div>
            <div class="col-12 image-container">
                <img src="{{ like.featured_image.url}}">
            </div>
           
            {% endfor %}
            {% endif %}
    </div>
        
<!-- Logout Panel -->
<div class="col-md-8 col-12" id="logout-panel">
    <div class="text-center">
        <h2 class="text-center">Log out?</h2>
        <p class="text-center">Are you sure you wish to log out?</p>
        <a href="{% url 'account_logout' %}" aria-label="Log out" class="btn btn-warning text-center rounded mb-2">Log Out</a>
        <a href="{% url 'activity' %}" aria-label="Return to activity page" class="btn btn-success text-center rounded mb-2">Activity Page</a>
    </div>
</div>
    </section>
</div>

<!--Post container-->
{% comment %} <div class="container">
    <div class="row">
        <div class="col">
        
        </div>
    </div>
</div> {% endcomment %}
<!-- Likes container -->
{% comment %} <div class="container"> 
    <div class="row">
        
    </div>
</div> {% endcomment %}

<!-- Ref https://github.com/nemixu for profile nav structure -->
{%endblock%}