{% extends "base.html" %}

{% block content %}

<div class="container-fluid profile-container">
    <div class="container profile-inner-container">
        <div class="h1 text-center profile-welcome-text">Welcome back {{profile.user}}</div>
        <hr class="profile-line">
    <section class="row mb-5">
        <!--Nav for profile-->
        <div class="col-md-4 col-12">
            <div class="profile-nav">
                <ul class="list-group profile-nav-list">
                    <a class="m-1" href='#' aria-label="profile nav my posts button">
                        <li class="list-group-item profile-link-active active" id="post-nav-button"><i class="fas fa-fw fa-user pr-1"></i>My Posts</li>
                    </a>
                    <a class="m-1" href='#' aria-label="profile nav my liked posts button">
                        <li class="list-group-item profile-link-active " id="likes-nav-button"><i class="fas fa-fw fa-heart pr-1"></i>My Likes</li>
                    </a>  
                    <a class="m-1" href='#' aria-label="profile nav logout button">
                        <li class="list-group-item profile-link-active " id="logout-nav-button"><i class="fas fa-fw fa-sign-out-alt pr-1"></i>Logout</li>
                    </a>      
                </ul>
            </div>
        </div>
        <!--posts-->
        <div class="col-md-8 col-12" id="post-panel">
            <div class="row">
                {% if posts %}
                {% for post in posts %} 
                <div class="col-sm-12 col-md-6 col-lg-4 text-center">
                    <a href="{% url 'post_detail' post.id %}">
                        <img class="profile-image-container" src="{{ post.featured_image.url}}">
                    </a>
                    <div class="profile-post-button-container">
                        <a class="edit-post-profile" href="{% url 'edit_post' post.id %}">
                            <i class="far fa-edit"></i>
                        </a>
                        <a class="edit-post-profile" aria-label="delete button" id="delete-button" href="{% url 'delete_post' post.id %}"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
                {% endfor %}
                {%else%}
                <div class="no-post-container text-center">
                    <h2 class="no-post-text">
                        Sorry you have not posted yet!
                    </h2>
                    <h2 class="no-post-text text-center d-inline">
                        Add a post here <a class="no-post-icon text-center d-inline" href="{% url 'add_post' %}"><i class="far fa-plus-square"></i></a>
                    </h2>
                </div>
                {% endif%}
            </div>
        </div>

        <!--Likes-->
        <div class="col-md-8 col-12" id="likes-panel">
            <div class="row">
                {% if likes %}
                {% for like in likes %} 
                <div class="col-sm-12 col-md-6 col-lg-4 text-center mb-4">
                    <a href="{% url 'post_detail' like.id %}">
                        <img class="profile-image-container likes-hover" src="{{ like.featured_image.url}}">
                    </a>
                </div>
                {% endfor %}
                {%else%}
                <div class="no-post-container text-center">
                    <h2 class="no-post-text">
                        You have not liked anything yet.
                    </h2>
                    <h2 class="no-post-text text-center d-inline">
                    Click the icon to view the posts!
                    <a class="no-post-icon text-center d-inline" href="{% url 'activity' %}"><i class="far fa-image"></i></a>
                    </h2>
                </div>
                {% endif%}
            </div>
        </div>

    <!-- Logout Panel -->
    <div class="col-md-8 col-12" id="logout-panel">
        <div class="text-center">
            <h2 class="text-center pb-3 logout-text">Are you sure you want to logout?</h2>
            <a href="{% url 'account_logout' %}" aria-label="Log out" class="btn btn-warning text-center rounded mb-2 ">Logout</a>
            <a href="{% url 'activity' %}" aria-label="Return to activity page" class="btn btn-success text-center rounded mb-2">Activity Page</a>
        </div>
    </div>
    </section>
    </div>
</div>

<!--Post container-->
{% comment %} <div class="container">
    <div class="row">
        <div class="col">
        
        </div>
    </div>
</div> {% endcomment %}
<!-- Likes container -->
{% comment %} <div class="container"> 
    <div class="row">
        
    </div>
</div> {% endcomment %}

<!-- Ref https://github.com/nemixu for profile nav structure -->
{%endblock%}