h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    text-decoration: none;
}

.post-description * {
    line-height: inherit!important;
    font-size: inherit!important;
    font-family: inherit!important;
    color: #000!important;
 }

.image-container { 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.post-container {
    border: 2px solid #084935;
    border-top: 0;
    border-bottom: 0;
    background-color: #fefbf1;
}

.main-bg {
    background-color: #e6e5de;
}

.post-text {
    color: #000;
}

/*---- Profile styling --*/

.profile-nav {
    position: sticky;
    top: 3rem;
}

/*---- To style later --*/
.profile-container {

}

#post-panel {

}

#likes-panel {
    display: none;
}

#logout-panel {
    display: none;
}