h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    text-decoration: none;
}

/*---- Uppernav styling --*/

button {
    border: none;
}

.navbar {
    background: #e6e5de;
}

/*---- Footer styling --*/
footer {
    display: flex!important;
    justify-content: space-around;
    flex-basis: auto;
    background-color: #e6e5de!important;
}

.navbar-nav {
    flex-direction: row!important;
    background-color: inherit!important;
}

li {
    margin-right: 20px;
}

.sticky-bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*---- Activity styling --*/

.post-description * {
    line-height: inherit!important;
    font-size: inherit!important;
    font-family: inherit!important;
    color: #000!important;
 }

.image-container { 
    text-align: center;
    
}

img {
    /* width: 500px;
    height: 500px; */
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    height: 400px;

}


.post-container {
    border: 2px solid #084935;
    background-color: #fefbf1;
    border-radius: 5px;
    margin: 15px 0;
    padding-top: 40px;
    max-width: 800px;
}

.like-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 12px;
}

.main-bg {
    background-color: #e6e5de;
    text-align: -webkit-center;
}

.post-text {
    color: #000;
}

.title-text{
    font-size: 1.3rem;
}

.rotate-title {
    white-space: nowrap;
    transform: rotate(-90deg);
    display: flex;
    justify-content: space-between;
}


/*---- Profile styling --*/

.profile-nav {
    position: sticky;
    top: 3rem;
}


.profile-container {

}

#post-panel {

}

#likes-panel {
    display: none;
}

#logout-panel {
    display: none;
}

