/* @import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600&display=swap');

html {
    height: 100%
}

body {
    min-height: 100%;
    font-family: 'Signika', sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/*---- Uppernav styling --*/

button {
    border: none;
}

.navbar {
    background: #e6e5de;
}

/*---- Footer styling --*/

footer {
    display: flex!important;
    justify-content: space-around;
    flex-basis: auto;
    background-color: #e6e5de!important;
}

.navbar-nav {
    flex-direction: row!important;
    background-color: inherit!important;
}

li {
    margin-right: 20px;
}

.sticky-bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*---- Activity styling --*/

.post-description * {
    line-height: inherit!important;
    font-size: inherit!important;
    font-family: inherit!important;
    color: #000!important;
 }

.image-container { 
    text-align: center;
    
}

.title-logo{
    width: 100px;
}

.post-image {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    height: 400px;
}

.like-button {
    background-color: inherit;
}

.search-bar-input {
    background-color: inherit;
}

#search-addon, button, i {
    background-color: #e6e5de;
}

.post-container {
    background-color: #fefbf1;
    border-radius: 5px;
    margin-top: 15px;
    padding-top: 40px;
    margin-bottom: 50px;
    max-width: 800px;
    filter: drop-shadow(-24px -24px 0px #1E2D2F);
}

.home-like{
    background-color: #fefbf1;
    color:#C57B57;
}

.form-control {
    border: 1px solid #1e2d2f;
}

.post-link {
    text-decoration: none;
}

.nav-item a i{
    color:#1E2D2F;
    font-size: 25px;
    padding: 0px 10px;
}

.nav-item a i:hover{
    color:#C57B57;
}

.like-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 12px;
}

.main-bg {
    background-color: #e6e5de;
    text-align: -webkit-center;
    min-height: 100vh;
    padding-top: 60px;
}

.post-text {
    color: #000;
}

.title-text:hover {
    color:#C57B57;
}

.title-text{
    font-family: 'Signika', sans-serif;
    font-size: 1.3rem;
}

.rotate-title {
    white-space: nowrap;
    transform: rotate(-90deg);
    will-change: transform;
    display: flex;
    justify-content: space-between;
}

.line-break {
    position: relative;
    left: 4vw;
    border: 1px solid #041f1e;
    transform: rotate(90deg);
}

/*---- Profile styling --*/

.profile-welcome-text{
    color: #fefbf1;

    padding-top: 5px;
}

.profile-post-button-container{
    position: relative;
    bottom: 23px;
    background-color: #1e2d2fcc;
}

.profile-line{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(254 251 241), rgba(0, 0, 0, 0));
    margin-bottom: 25px
}

.profile-nav {
    position: sticky;
    top: 3rem;
}

.profile-image-container{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    height: 200px;
}

a .profile-image-container:hover{
    border: ridge;
    border-color: #fefbf1;
    border-bottom: none;
}
a .likes-hover:hover{
    border: ridge;
    border-color: #fefbf1;
    border-bottom: ridge;
}

.no-post-text, .logout-text{
    color:#fefbf1;
}

.btn-warning {
    margin-right: 20px;
    background-color: #C57B57;
    border: none;
    color: #e6e5de;
}

.btn-warning:hover {
    background-color: #C57B57;
    border: none;
    color:#1e2d2f
}

.btn-success {
    background-color: #fefbf1;
    color:#1e2d2f;
    border: none;
}

.btn-success:hover {
    background-color: #fefbf1;
    color:#C57B57;
    border: none;
}

.no-post-icon i {
    background: inherit;
    color: #C57B57;
    font-size: 3rem;
    margin-top:20px;
    position: relative;
    top: 10px;
    left: 15px;
}

.no-post-icon i:hover {
    color: #fefbf1;
}

.edit-post-profile {
    height: min-content;
    width: min-content;
}

.profile-nav-list a{
    border-radius: 5px;
}

.profile-nav-list li:active,
.profile-nav-list li:hover,
.profile-nav-list li:focus,
.profile-link-active.active  {
    background: #C57B57;
    color: #fefbf1!important;
    border-color: transparent!important;
}
.profile-container, .profile-inner-container {
    background: #1e2d2f ;
    height: 100vh;
}

.edit-post-profile i{
    background-color: inherit;
    color: #fefbf1;
    padding-left:10px;
    padding-right:10px;

}

.edit-post-profile i:hover{
    color: #C57B57;

}

.profile-link-active i{
    background-color: inherit;
    padding-right:20px
}

.list-group-item{ 
   background-color: #fefbf1;
   color: #1e2d2f;
}

#post-panel {
    margin-top:20px
}

#likes-panel {
    display: none;
    margin-top:20px
}

#logout-panel {
    display: none;
    margin-top:20px
}

/*-- About pagbe styling --*/

.hero-text{     
    margin-top:50px;
    margin-bottom:50px;
    font-size: 3rem;
    color: #1E2D2F;
}

.about-main-container {
    background-color: #e6e5de;
    min-height: 110%;
}

.text-orange{ 
    color: #C57B57;
}

.about-line {
    background-image: linear-gradient(to right, rgb(230 229 222), rgb(30 45 47), rgb(230 229 222));
    margin-bottom: 25px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*-- Post detail styling--*/

.post-detail-container {
    background-color: #041f1e;
    height: min-content;
    text-align: center;
    padding-bottom: 100px;
    min-height: 100vh;
}

.rating-div i, .fa-comment {
    color: #C57B57;
    background-color:#fefbf1;
}

.post-detail-image-container {
    width: 80%;
    border-radius: 8px;
}

.post-detail-like {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    right: 125px;
    top: 7px;
}

.comment-line-break {
    border: 1px solid #041f1e;
}

.comment-user{
    font-weight: 500;
    padding-right: 10px;
    display: inline;
}

.detail-like {
    padding-top:4px;
    background-color: #fefbf1;
    color: #C57B57;
}

.post-detail-buttons {
    text-decoration: none;
    color: #041f1e;
}

.post-detail-buttons i {
    background-color: #fefbf1;
}

.post-detail-buttons i:hover {
    color: #C57B57;
}

.comment-main-container, #post-panel-detail {
    margin: 5px 0;
    background: #fefbf1;
    border: 2px solid #1e2d2f;
    border-radius: 10px;
    padding: 12px;
}

.button-grouper {
    position: relative;
    bottom: 15px;

}

.post-container-buttons {
    text-align-last: right;
    padding-bottom: 20px;
}

.btn-secondary, .btn-secondary:hover {
    background-color: #041f1e;
    color: #e6e5de;
}

.btn-danger, .btn-danger:hover {
    background-color: #C57B57;
    border: none;
}

.delete-post-btn, .fa-edit{
    color:#C57B57;
    background-color: #fefbf1;
}

.fa-edit {
    margin-right:10px;
}

.btn-comment {
    padding: 6px 4.6875em;
    color: #fff;
    background-color: #C57B57;
    border-color: #C57B57;
}

.comment-main-container-button {
    margin: 5px 0;
    background: #041f1e;
    padding: 12px;
}

/*-- Edit comment page --*/

.edit-comment-container {
    background-color: #e6e5de;
    min-height: 100vh;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.inner-comment-container {
    background-color: #041f1e;
    padding:40px 100px;
    border-radius: 8px;
}

.form-group label {
    color: #041f1e;
    padding-bottom: 10px;
}

.message-container {
    position: fixed;
    top: 5.125rem;
    right: 0.9375rem;
    z-index: 9999;
  }

/*--Edit post styling--*/

.edit-post-container {
    background-color: #e6e5de;
    padding: 0 100px;
    min-height: 100vh;
}

.inner-edit-container {
    padding: 0 200px;
}

.btn-success-post {
    background-color: #1e2d2f;
    color: #fefbf1;
    border: none;
}

.btn-success-post i {
    background-color: inherit;
}

.btn-success-post:hover {
    background-color: #fefbf1;
    color: #1e2d2f;
    border: none;
}

.alert-bg{
    background-color: #C57B57;
    color: #fefbf1;
}


/*--Media Queries--*/

