{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

 <div class="container-fluid edit-comment-container">
    <div class="inner-comment-container">
      <div class="row post-text">
          <div class="col-12">
            <form action= "#" method="POST" class="text-center"> 
              <div class="col-12">
                {% csrf_token %}
                {{ comment_form | crispy }}
              </div>
              <div class="col-sm-12 col-12 text-center pt-5">
                <button class="btn btn-comment" aria-label="Update comment button">Add comment</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
{%endblock%}