{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container post-container">
    <div class="row post-text">
        <div class="col-12">
          <form action= "{% url 'edit_comment' post.id %}" method="POST" class="text-center"> 
            <div class="col-12">
              {% csrf_token %}
              {{ form | crispy }}
            </div>
            <div class="col-sm-12 col-12 text-center">
              <button class="btn btn-success" aria-label="Update comment button">Update your comment</button>
            </div>
          </form>
        </div>
    </div>
</div>
{%endblock%}
