{% extends "base.html" %}

{% block content %}

<div class="container-fluid main-bg">
    <div class="row">
        <!--Activity Post's Column-->
        <div class="col-md-6 offset-md-3">
            {% for post in post_list %}
            <div class="container post-container">
                <div class="row post-text">
                    <div class="col-12">
                        <h1>{{ post.author }}</h1>
                    </div>
                    <div class="col-12">
                        <h2>Title: {{ post.title }}</h2>
                    </div>
                    <div class="col-12">
                        <h2 class="post-description">Description: {{ post.description | safe }}</h2>
                    </div>
                    <div class="col-12">
                        <h2>Location: {{ post.location }}</h2>
                    </div>
                    <div class="col-6">
                        <h2 class="">{{ post.rating }}</h2>
                    </div>
                    <div class="col-12 image-container">
                        <img src="{{ post.featured_image.url}}">
                    </div>
                    <div class="col-6">
                        <p>
                            {% if user.is_authenticated %}

                           
                            {% if request.user.id in post.liked_by_user %}
                            {% comment %} {% if user in post.likes %} {% endcomment %}
                            <form class="d-none" method="POST">
                            {% csrf_token %}
                            </form>
                            <button type="submit" name="post_id" value="{{post.id}}" class="like-button" data-url={% url 'like'%}><i class="fas fa-heart">
                            </i></button>

                            {% else %}

                            <button type="submit" name="post_id" value="{{post.id}}" class="like-button" data-url={% url 'like'%}><i class="far fa-heart">
                            </i></button>

                            {% endif %}


                        
                            {% endif %}
                            
                            <span id="{{post.id}}_like_count">{{ post.like_count }}</span>
                        </p>
                        
                    </div>
                    <div class="col-12">
                        {% for comment in post.comments.all %}
                        {{ comment.name }}
                        {{ comment.body }}
                        {% endfor %}
                    </div>
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'comment' post.id %}">
                                        <i class="fas fa-comment">Comment</i>
                                    </a>

                                    <a href="{% url 'edit_post' post.id %}">
                                        <i class="fas fa-box">Edit</i>
                                    </a>

                                    <a class="btn btn-danger" aria-label="delete button" id="delete-button" href="{% url 'delete_post' post.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>       
    </div>
</div>

<script>

$(document).on('click', '.like-button', function (e) {
    let btn = e.currentTarget.value
    e.preventDefault();
    let like_url = $('.like-button').attr("data-url")
    $.ajax({
        type: 'POST',
        url: like_url,
        data: {
            postid: btn,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post',
        },
        success: function (json) {
            document.getElementById(`${btn}_like_count`).innerHTML = json['result']
        },
        error: function (xhr, errmsg, err) {
        }
    });
    })
</script>

{%endblock%}