{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid main-bg">
    <div class="row">
        <!--Activity Post's Column-->
        <div class="col-md-6 offset-md-3">
            {% for post in post_list %}
            <div class="container post-container">
                <div class="row post-text">
                    <div class="col-12">
                        <h1>{{ post.author }}</h1>
                    </div>
                    <div class="col-12">
                        <h2>Title: {{ post.title }}</h2>
                    </div>
                    <div class="col-12">
                        <h2 class="post-description">Description: {{ post.description | safe }}</h2>
                    </div>
                    <div class="col-12">
                        <h2>Location: {{ post.location }}</h2>
                    </div>
                    <div class="col-6">
                        <h2 class="">{{ post.rating }}</h2>
                    </div>
                    <div class="col-12 image-container">
                        <img src="{{ post.featured_image.url}}">
                    </div>
                    <div class="col-6">
                        <p>{{ post.number_of_likes }}</p>
                    </div>
                    <div class="col-12">
                        {% for comment in post.comments.all %}
                        {{ comment.name }}
                        {{ comment.body }}
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h3>Add a comment:</h3>
                                    <p>{{ user.username }}</p>
                                    <form method="post">
                                        {{ comment_form | crispy }}
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success">Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
            

            <!-- {% if user.is_authenticated %} -->

            
            <!-- {% endif %} -->
        
    </div>
</div>
{%endblock%}