{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
<div class="container-fluid main-bg">
    <div class="row">
        <h1 class="pb-3">You searched for '{{ search }}'</h1>
        <div class="col-md-6 offset-md-3">
            {% for post in post_search %}
            <a class="post-link" href="{% url 'post_detail' post.id %}">
                <div class="container post-container">
                    <div class="row post-text">
                        <div class="col-3 my-auto">
                            <div class="row"> 
                                <div class="col-12 rotate-title">
                                    <h2 class="title-text">{{ post.title }}</h2>
                                </div>
                                <hr class="line-break">
                            </div>
                        </div>
                        <div class="col-9 image-container">
                            <img class="post-image" src="{{ post.featured_image.url}}">
                        </div>
                        <div class="col-12 like-container">
                                {% if user.is_authenticated %}
                                    {% if request.user.id in post.liked_by_user %}
                                        <form class="d-none" method="POST">
                                            {% csrf_token %}
                                        </form>
                                        <button type="submit" name="post_id" value="{{post.id}}" class="like-button" data-url={% url 'like'%}><i class="fas fa-heart home-like"></i>
                                        </button>
                                        {% else %}
                                        <button type="submit" name="post_id" value="{{post.id}}" class="like-button" data-url={% url 'like'%}><i class="fas fa-heart home-like"></i>
                                        </button>
                                    {% endif %}
                                {% endif %}
                            <span id="{{post.id}}_like_count">{{ post.like_count }}</span>
                        </div>
                    </div>
                </div>
            </a>        
            {% endfor %}
        </div>       
    </div>
</div>
{%endblock%}