{% comment %} <div class="toast toast-styling rounded" data-autohide="true" data-delay="5000">
    <div class="toast-header">
        <strong class="mr-auto bg-warning">Error!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        {{ message }}
    </div>
</div> {% endcomment %}

<div class="toast toast-styling rounded" role="alert" aria-live="assertive" aria-atomic="true" >
    <div class="toast-header">
      <strong class="me-auto alert-bg">Error!</strong>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
  </div>